body {
  min-width: 300px;
}
.sidenav .collapsible-body li a.fw-norm {
  font-weight: normal
}

.sidenav ul.collapsible-accordion .collapsible-body li a {
  padding: 0 37.5px 0 45px;
}

.navbar-fixed {
  height: $navbat_height;
}

.slider .indicators .indicator-item.active {
  background-color: #42A5F5;
}

@media (max-width: 609px) {
  .navbar-fixed nav {
    position: unset;
  }
}

.tap-target, .tap-target-wrapper {
  @media only screen and (max-width: 600px) {
    width: 500px;
    height: 500px;
  }
  & * {
    font-size: 1.3rem;
  }
}