p {
  max-width: 790px;
  margin: $margin-top auto;
}

.swipe-hint {
  display: block;
  width: 60px;
  position: relative;
  top: -123px;
  visibility: hidden;

  @media (min-width: 610px) {
    display: none;
  }

  svg {
    background-color: rgba(227, 242, 253, 0.28);
    position: absolute;
    top: 153px;
    display: inline-block;
    color: black;
    border-radius: 100%;
    animation: hint-finger ease-in 2s;
    animation-iteration-count: infinite;
    z-index: 100;
    font-size: 20px;
  }

  .hand-x {
    fill: #fff;
    stroke: #000;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  &:before {
    position: absolute;
    content: " ";
    right: 8px;
    top: 0;
    width: 0;
    height: 20px;
    animation: hint-dot ease-in 4s;
    animation-iteration-count: infinite;
  }
}

.intro {
  position: absolute;
  z-index: 10;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(-10%);
  color: white;
  height: 100%;
  font-family: $font-family-varela;
  animation: slide 0.5s ease-out 0.5s forwards;
  h1 {
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 10px;
    margin-top: 0;
    @media (min-width: 500px) {
      font-size: 35px;
    }
    @media (min-width: 700px) {
      font-size: 45px;
      margin-bottom: 10px;
    }
    @media (min-width: 900px) {
      font-size: 55px;
      margin-bottom: 20px;
    }
    @media (min-width: 1200px) {
      font-size: 75px;
    }
  }
  h3 {
    margin-top: 0;
    font-size: 15px;
    @media (min-width: 500px) {
      font-size: 21px;
    }
    @media (min-width: 700px) {
      font-size: 27px;
    }
    @media (min-width: 900px) {
      font-size: 35px;
    }
    @media (min-width: 1200px) {
      font-size: 45px;
      margin-bottom: 35px;
    }
  }

  @media (min-width: 500px) {
    h1 {
      font-size: 35px;
    }
    h3 {
      font-size: 21px;
    }
  }
  @media (min-width: 700px) {
    h1 {
      font-size: 45px;
      margin-bottom: 10px;
    }
    h3 {
      font-size: 27px;
    }
  }
  @media (min-width: 900px) {
    h1 {
      font-size: 55px;
      margin-bottom: 20px;
    }
    h3 {
      font-size: 35px;
    }
  }
  @media (min-width: 1200px) {
    h1 {
      font-size: 75px;
    }
    h3 {
      font-size: 45px;
      margin-bottom: 35px;
    }
  }
}

.slider {
  user-select: none;
  .slides {
    img {
      filter: brightness(0.7);
    }
  }
}

.tap-target-wrapper.open {
  .swipe-hint {
    visibility: visible;
  }
}

.info {
  @include padding-horizontal;
  @include padding-vertical;
  text-align: center;
  .section-pattern {
    margin-bottom: 60px;
  }
  ul.info__list {
    display: inline-block;
    list-style: disc;
    margin: $margin-top auto;
    margin-left: 30px;
    @media (min-width: 450px) {
      margin-left: auto;
    }
  }
}

.accommodation {
  margin-bottom: 0;
  .tabs__container {
    @extend .blue, .lighten-1;
  }
  .tabs {
    @extend .tabs__container;
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    justify-content: center;
    @media (min-width: 610px) {
      flex-flow: row nowrap;
    }
    .tab {
      width: auto;
      user-select: none;
      margin: 0;
      a {
        @extend .white-text;
        border-bottom: none;
        &:hover,
        &.active,
        &.active:hover {
          background-color: rgba(246, 178, 181, 0.2);
          border-bottom: 2px solid #fff;
          @media (min-width: 610px) {
            border-bottom: none;
          }
        }
        &:hover {
          border-bottom: none;
        }
      }
    }
    .indicator {
      @extend .white;
      display: none;
      @media (min-width: 610px) {
        display: block;
      }
    }
  }

  .carousel.carousel-slider {
    height: 200px;

    @media (min-width: 768px) {
      height: 360px;
      .carousel-item {
        min-height: 360px;
      }
    }

    @media (min-width: 992px) {
      height: 460px;
      .carousel-item {
        min-height: 460px;
      }
    }

    @media (min-width: 1200px) {
      height: 580px;
      .carousel-item {
        min-height: 580px;
      }
    }
    .carousel-item {
      padding: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      min-height: 200px;

      &#beach-studio {
        background-image: url(../img/beach-studio.jpg);
      }
      &#ocean-studio {
        background-image: url(../img/ocean-studio.jpg);
      }
      &#bay-suite {
        background-image: url(../img/bay-suite.jpg);
      }
      &#beach-villa {
        background-image: url(../img/beach-villa.jpg);
      }
    }
  }
  .card {
    margin: 0;
    .card-action {
      padding: 0;
      display: flex;
      justify-content: space-around;
      .btn-flat {
        padding: 0 10px;
      }
    }
  }
}

.offers {
  user-select: none;
  position: relative;
  .carousel {
    margin-top: 30px;
    height: 400px;
    .carousel-item {
      width: 400px;
      height: 400px;
    }
  }
  .offers__desc {
    position: absolute;
    top: 460px;
    & > .col {
      max-width: 790px;
      margin: auto;
      float: none;
      .btn-flat {
        margin: auto;
        display: block;
      }
    }
  }
  @media (min-width: 400px) {
    .carousel {
      height: 500px;
      .carousel-item {
        width: 500px;
        height: 500px;
      }
    }
    .offers__desc {
      top: 510px;
    }
  }

  @media (min-width: 700px) {
    .carousel {
      height: 600px;
      .carousel-item {
        width: 600px;
        height: 600px;
      }
    }
    .offers__desc {
      top: 560px;
    }
  }

  @media (min-width: 800px) {
    .carousel {
      height: 700px;
      .carousel-item {
        width: 700px;
        height: 700px;
      }
    }
    .offers__desc {
      top: 615px;
    }
  }

  @media (min-width: 900px) {
    .carousel {
      height: 800px;
      .carousel-item {
        width: 800px;
        height: 800px;
      }
    }
    .offers__desc {
      top: 670px;
    }
  }

  @media (min-width: 1000px) {
    .carousel {
      height: 900px;
      .carousel-item {
        width: 900px;
        height: 900px;
      }
    }
    .offers__desc {
      top: 760px;
    }
  }

  @media (min-width: 1100px) {
    .carousel {
      height: 1000px;
      .carousel-item {
        width: 1000px;
        height: 1000px;
      }
    }
    .offers__desc {
      top: 774px;
    }
  }
}

.service-wrapper {
  width: 100%;
  position: absolute;
}

.at-resort {
  user-select: none;
  margin-top: 0;
  padding-top: 0;
  .card-area {
    flex-direction: column;
    @media (min-width: 900px) {
      flex-direction: row;
    }
    text-align: center;
    .card-image {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 450px;
    }
    .card-title {
      margin-top: 20px;
      display: flex;
      height: 95px;
      justify-content: space-between;
      flex-flow: column nowrap;
      font-size: 24px;
      text-transform: uppercase;
    }
    .at-resort__left {
      position: relative;
      flex: 0.5;
      .card-image {
        display: flex;
        flex-flow: column nowrap;
        @media (min-width: 550px) {
          flex-direction: row;
          &::after {
            border-left: 1px solid #fff;
          }
        }
        &::before,
        &::after {
          @extend .card-image;
          flex: 0.5;
          content: "";
          display: block;
          background-image: url(../img/spa1.jpg);
        }
        &::after {
          border-top: 1px solid #fff;
          background-image: url(../img/spa2.jpg);
          background-position: 78%;
        }
      }
    }
    .at-resort__right {
      flex: 0.5;
      .at-resort__obj {
        display: flex;
        flex-wrap: nowrap;
        height: 50%;
        .card-stacked {
          flex: 0.5;
        }
        &:first-child,
        &:last-child {
          text-align: right;
          flex-direction: row-reverse;
          .card-image {
            flex: 0.5;
            background-image: url(../img/dinning.jpg);
            height: initial;
          }
        }
        &:last-child {
          text-align: left;
          flex-direction: row;
          .card-image {
            background-image: url(../img/event.jpg);
          }
          .card-stacked {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-end;
          }
        }
      }
    }
  }
}

.map {
  position: relative;
  padding: 1rem 0;
  text-align: center;
  & > .map__t {
    display: none;
  }
  .map__t {
    height: 200px;
    .logo {
      @extend .logo;
      transform: translate(0px, -14px);
      width: 75px;
      margin: 0 auto;
      height: 118px;
      &::before {
        @include logo;
        background-position: 72%;
        background-size: 77%;
      }
      span {
        transform: translateY(-14px);
        color: #127ac1;
      }
    }
    .map__c {
      position: relative;
      top: -26px;
    }
  }
  #map {
    height: 500px;
    @media (min-width: 610px) {
      height: 644px;
    }
  }
  .map__direction {
    position: absolute;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
    width: 300px;
    z-index: 1;
    background-color: transparent;
    box-shadow: none;
    @media (min-width: 1000px) {
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
      background-color: #fff;
      transform: none;
      right: 10px;
      top: 30px;
      bottom: unset;
    }
    .card-content {
      display: none;
      @media (min-width: 1000px) {
        display: block;
        .divider {
          margin-top: 10px;
        }
      }
      .card-title:not(:first-child) {
        margin-top: 10px;
      }
    }
    .card-action {
      border-top: none;
      @media (min-width: 1000px) {
        border-top: 1px solid rgba(160,160,160,0.2);
      }
    }
  }
}

.benefits {
  user-select: none;
  @include padding-horizontal;
  padding-bottom: unset;
  text-align: center;
  .benefits__sub {
    margin-top: 60px;
    font-size: 18px;
  }
  .benefits__list {
    display: inline-block;
    li {
      display: flex;
      line-height: 36px;
      span {
        margin-left: 20px;
        text-align: left;
      }
    }
  }
}

.benefits__items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: column nowrap;
  @media (min-width: 1200px) {
    flex-direction: row;
  }
  li {
    @extend .benefits__items;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 35px;
    text-align: center;
    &:first-child {
      margin-top: unset;
    }
    span {
      margin-left: 10px;
      margin-right: 10px;
      font-weight: bold;
      font-size: 22px;
    }
    @media (min-width: 1200px) {
      text-align: left;
      margin-top: unset;
    }
  }
}

.review {
  user-select: none;
  @include padding-horizontal;
  .cert {
    margin-top: 60px;
    text-align: center;
    img {
      max-width: 300px;
    }
  }
}

.signature {
  @include padding-horizontal;
  font-family: "Marcellus SC", serif;
  .signature__t {
    font-size: 30px;
    font-weight: bold;
  }
  .signature__w {
    font-size: 19px;
  }
  &::after {
    content: "";
    display: block;
    width: 19%;
    min-width: 200px;
    margin: auto;
    height: 100px;
    background: url(/images/Ms.Dharani_Sivam.png?d440f10…) no-repeat;
    background-size: contain;
  }
}
