.navbar {
  height: 105px;
  .nav-wrapper {
    max-width: 1366px;
    margin: auto;
    overflow: hidden;
    justify-content: space-between;
    flex-flow: row-reverse nowrap;
    padding: 0 30px;
    .btn-group {
      line-height: initial;
      a:not(:last-child) {
        margin-right: 20px;
      }
      .icon {
        line-height: inherit;
        height: initial;
      }
      &.btn-group__first {
        min-width: 65px;
        display: none;
        @media (min-width: 610px) {
          display: block;
        }
      }
      &.btn-group__last {
        flex: 1;
        @media (min-width: 610px) {
          flex: unset;
        }
        @include btn-outline(#42A5F5);
        .btn-outline:first-child {
          margin-right: 20px;
        }
        .btn-outline:last-child {
          @include scale(false, 609);
        }
      }
    }
  }
  .fixed-action-btn {
    @include scale;
  }
  .sidenav {
    &::before {
      content: '';
      display: block;
      height: 120px;
      @include logo;
      background-size: contain;
      width: 100%;
      background-position: 50%;
      background-color: rgb(236, 240, 249);
    }
    .sidenav-close {
      position: absolute;
      top: 0;
      right: 0;
      & > i {
        margin: 0;
      }
    }
  }
}
