.footer {
    overflow: hidden;
    font-size: 12px;
    font-weight: 500;
    * {
        color: #fff;
    }
    
    .footer__wrapper {
        max-width: 1366px;
        width: 100%;
        margin: auto;
        padding: 0 30px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    & > .footer__wrapper {
        @media (min-width: 610px) {
            flex-direction: row;
            justify-content: space-around;
        }
        ul {
            width: 180px;
            &:first-child {
                text-align: center;
                @media (min-width: 610px) {
                    text-align: left;
                }
            }
            &:nth-child(2) {
                @media (min-width: 610px) {
                    order: 1;
                }
                li {
                    display: flex;
                    justify-content: space-between;
                    span:nth-child(1) {
                        width: 30px;
                    }
                    span:nth-child(2) {
                        width: 30px;
                        text-align: center;
                    }
                    span:nth-child(3) {
                        text-align: right;
                        width: 96px;
                    }
                }
            }
        }
    }
    
    
    .footer__logo {
        .logo {
            transform: none;
            .logo__sub, .logo__title {
                transform: none;
            }
        }
    }
    .footer-copyright {
        font-size: 9px;
        * {
            color: #b7b7b7;
        }
        .footer__wrapper {
            @include padding-horizontal;
            ul {
                margin: 0;
                display: flex;
                justify-content: center;
                width: 100%;
                & li:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
    }
}
